.sidebar-items {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 2.5rem;
  margin-top: 0.625rem;
  // position: relative;
  cursor: pointer;

  .text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--text-color);
    &.isActive {
      font-weight: 500;
      color: var(--secondary-color);
    }
    &.not-active {
      font-weight: 500;
      color: var(--text-color);
    }
  }
  .icons {
    width: 1rem;
    height: 1rem;
    color: var(--text-color);
    // stroke: var(--text-color);
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }

  &.isActive::before,
  &:hover::before {
    background-color: rgba(57, 205, 204, 9%);
    content: "";
    border-left: 3px solid var(--primary-color);
    width: 100%;
    left: 0;
    border-radius: 3px 3px 3px 3px;
    height: 40px;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
}
