@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #39cdcc;
  --secondary-color: #213f7d;
  --danger-color: #e4033b;
  --text-color: #545f7d;
  --white: #ffffff;
  --input-border: #545f7d26;

  --font-size-md: 1rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --border-radius: 6px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
}
