.users-container {
  margin: 8.75rem 3rem 0 0;

  & h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--secondary-color);
  }
  .users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.625rem;
    margin-top: 2.5rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      margin: 0;
    }
  }

  @media (max-width: 1024px) {
    margin: 8.75rem 1rem 0 0.9rem;
  }
  @media (max-width: 600px) {
    // margin: 0 1rem;
  }
}
